@import url('https://fonts.cdnfonts.com/css/mada');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    --backgroundImage: url('images/background.jpg');

    background: var(--backgroundImage) no-repeat center center fixed;
    background-size: cover;

    --colorBackGround: #0b1623;
    --textswhite: #cbcbcb;
    --colorMain: #100822;
}

header {
    background-color: var(--colorMain);
    color: var(--colorMain);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    height: 4vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0vw 0.1vw 1vw rgba(0, 0, 0, 1.2);
}

.logoHeader {
    height: 3vw;
    user-select: none;
    cursor: pointer;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.menuNav {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 8.6vw;
    justify-content: center;
    width: 100%;
}

.menuNav li {
    margin: 0 1vw;
}

.menuNav li a {
    background: linear-gradient(to right, #b0b0b0, #b0b0b0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 0.9vw;
    text-decoration: none;
    font-family: 'Mada', sans-serif;
    font-weight:600;
    text-align: center;
    user-select: none;
    transition: background 3.5s ease;
}

.menuNav li a:hover {
    background: linear-gradient(to right, #a193ff, #5942ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-vector {
    height: 6vw;
    user-select: none;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.nav-vector-wrapper {
    display: inline-block;
    position: relative;
}   

.nav-vector-wrapper::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 2vw);
    height: calc(10% + 2vw);
    border-radius: 0.5vw;
    background: linear-gradient(to right, #523fca, #1c125c);
    z-index: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-vector-wrapper:hover::after {
    opacity: 1;
}





@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(3vw);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes tilt {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vw;
    text-align: center;
    user-select: none;
}
.welcome-message,
.welcome-message2,
.welcome-greeting,
.welcome-title {
    font-family: 'Mada', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
}

.welcome-greeting {
    font-size: 2vw;
    margin: 0;
    line-height: 2vw;
    font-weight: normal;
    font-style: italic;
    color: var(--textswhite);
    animation: typing 3s steps(150) 1s forwards;
}


.welcome-title {
    font-size: 3vw;
    margin: 0;
    line-height: 1.2;
    font-weight: bold;
    background: linear-gradient(to top, #4A00E0, #8E2DE2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: typing 3s steps(150) 1.4s forwards;
}


.welcome-message {
    font-size: 1vw;
    margin: 0;
    line-height: 1.2;
    font-weight: bold;
    color: var(--textswhite);
    animation: typing 3s steps(150) 1.8s forwards;
}
.welcome-message2 {
    font-size: 1vw;
    margin: 0;
    line-height: 1.2;
    font-weight: bold;
    color: var(--textswhite);
    animation: typing 3s steps(150) 2.2s forwards;
}

.welcome-image {
    width: 10vw;
    height: auto;
    margin-bottom: 1vw;
    position: relative;
    top: 1%;
    animation: tilt 2s infinite alternate;
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
        color: #8022fc;
    }
    50% {
        transform: translateY(-1vw);
        color: var(--textswhite);
    }
}

.arrow {
    font-size: 3vw;
    margin-top: 2vw;
    animation: bounce 1s infinite;
    cursor: pointer;
}





.services-container {
    padding: 0vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-image {
    flex: 1;
    max-width: 50%;
    margin-right: 0vw;
    align-self: center;
}

.service-image img {
    width: 70%;
    height: auto;
    user-select: none;
}

.service-category {
    display: flex;
    margin-bottom: 0vw;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.service-title {
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Mada', sans-serif;
    background: linear-gradient(to top, #4A00E0, #8E2DE2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}


.service-description {
    font-size: 1vw;
    font-style: italic;
    font-family: 'Mada', sans-serif;
    color: var(--textswhite);
    text-align: center;
}

.service-cta {
    display: block;
    margin: 0.5vw auto 0;
    padding: 0.5vw 1vw;
    background-color: #3a1f64;
    color: white;
    font-family: 'Mada', sans-serif;
    font-size: 1.3vw;
    text-decoration: none;
    border-radius: 0.3vw;
    font-weight: bold;
    transition: background-color 0.3s;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.service-cta:hover {
    background-color: #5d48e5;
}








.highlights-container {
    padding: 0vw;
    max-width: 80vw;
    margin: 0 auto;
}

.highlights-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.highlight-item {
    background-color: #130729c3;
    border: 0.001vw transparent #e8dbff;
    padding: 1vw;
    border-radius: 0.8vw;
    box-shadow: 0 0.1vw 0.5vw rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vw;
}

.highlight-icon img {
    width: 3.6vw;
    height: 3.6vw;
    margin-bottom: -1.5vw;
    user-select: none;
}

.highlight-content h3 {
    font-size: 1.5vw;
    font-family: 'Mada', sans-serif;
    font-weight: bold;
    margin-bottom: -0.1vw;
    color: #ffffff;
}

.highlight-content p {
    font-size: 1.0vw;
    font-family: 'Mada', sans-serif;
    color: var(--textswhite);
    line-height: 1.2;
}






.testimonial-title {
    text-align: center;
    font-size: 1.8vw;
    color: #ffffff;
    font-family: 'Mada', sans-serif;
    margin-bottom: 0.7vw;
    margin-top: 5vw;
}

.testimonial-divider {
    width: 10vw;
    height: 0.3vw;
    background-image: linear-gradient(to right, #4A00E0, #8E2DE2);
    margin: 0 auto 1vw;
    box-shadow: 0 0 1vw 0.02vw #8E2DE2; /* Adiciona um efeito de luz em volta */
}


.testimonial-description {
    text-align: center;
    font-size: 1.1vw;
    font-family: 'Mada', sans-serif;
    color: var(--textswhite);
    margin-bottom: 2vw;
}

.client-reviews-container {
    max-width: 80vw;
    margin: 0 auto;
    user-select: none;
}

.client-reviews-slider {
    display: flex;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    border-radius: 1vw;
    cursor: grab;
}

.client-stars {
    width: 7vw;
    height: auto;
    margin-top: -0.5vw;
}

.client-reviews-slider:active {
    cursor: grabbing;
}

.client-reviews-slider.draggable {
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.client-review {
    flex: 0 0 auto;
    width: 40vw;
    height:15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 2vw;
    padding: 2vw;
    background-color: #130729c3;
    border-radius: 1vw;
    text-align: center;
}

.client-review h3 {
    margin-bottom: 1vw;
    font-size: 2.0vw;
    font-family: 'Mada', sans-serif;
    font-weight: bold;
    color: #ffffff;
}

.client-review p {
    font-size: 1vw;
    line-height: 1.5;
    font-family: 'Mada', sans-serif;
    color: #ffffff;
    
}

.client-review p:last-child {
    margin-top: 0.2vw;
    font-style: italic;
    font-family: 'Mada', sans-serif;
    color: #683cba;
}

.quote-mark {
    font-style: italic;
    font-family: 'Mada', sans-serif;
    font-weight: bold;
    color: #8E2DE2
}





footer {
    background-color: #130729c3;
    color: var(--textswhite);
    font-family: 'Mada', sans-serif;
    margin-top: 4vw;
    padding: 2.5vw;
}

footer img {
    width: 10vw;
    height: auto;
    user-select: none;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    display: flex;
}

.social-icon {
    width: 2.3vw;
    height: auto;
    margin-left: 1.2vw;
    user-select: none;
    cursor: pointer;
}


@media screen and (max-width: 768px) {

    /* CABEÇALHO */
    .nav-vector-wrapper {
        display: none;
    }

    .logoHeader {
        height: 1.4rem;
    }

    .menuNav li a {
        font-size: 0.9rem;
    }

    header {
        margin: 0 auto;
        height: 3rem;
    }

    /* ---------------------------------- */ 


    /* WELCOME */
    .welcome-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 160vw;
        text-align: center;
        user-select: none;
    }
    .welcome-message,
    .welcome-message2,
    .welcome-greeting,
    .welcome-title {
        font-family: 'Mada', sans-serif;
        overflow: hidden;
        white-space: nowrap;
        width: 0;
    }
    
    .welcome-greeting {
        font-size: 7vw;
        margin: 0;
        line-height: 6vw;
        font-weight: normal;
        font-style: italic;
        color: var(--textswhite);
        animation: typing 3s steps(150) 1s forwards;
    }
    
    
    .welcome-title {
        font-size: 11vw;
        margin: 0;
        line-height: 1.2;
        font-weight: bold;
        background: linear-gradient(to top, #4A00E0, #8E2DE2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: typing 3s steps(150) 1.4s forwards;
    }
    
    
    .welcome-message {
        font-size: 3vw;
        margin: 0;
        line-height: 1.2;
        font-weight: bold;
        color: var(--textswhite);
        animation: typing 3s steps(150) 1.8s forwards;
    }
    .welcome-message2 {
        font-size: 3vw;
        margin: 0;
        line-height: 1.2;
        font-weight: bold;
        color: var(--textswhite);
        animation: typing 3s steps(150) 2.2s forwards;
    }
    
    .welcome-image {
        width: 30vw;
        height: auto;
        margin-bottom: 3vw;
        position: relative;
        top: 1%;
        animation: tilt 2s infinite alternate;
    }

    .arrow {
        font-size: 10vw;
        margin-top: 5vw;
        animation: bounce 1s infinite;
        cursor: pointer;
    }
    /* ---------------------------------- */ 

    /* SERVIÇOS */
    .services-container {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service-image {
        max-width: 100%;
        margin-right: 0;
        align-self: center;
    }

    .service-image img {
        display: none;
        width: 10rem;
        height: auto;
    }

    .service-category {
        display: flex;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .service-title {
        font-size: 2rem;
    }


    .service-description {
        font-size: 0.6rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .service-cta {
        display: block;
        margin: 0.5rem auto 0;
        padding: 0.5rem 1rem;
        background-color: #3a1f64;
        color: white;
        font-family: 'Mada', sans-serif;
        font-size: 0.8rem;
        text-decoration: none;
        border-radius: 0.3rem;
        font-weight: bold;
        transition: background-color 0.3s;
        text-align: center;
        cursor: pointer;
        user-select: none;
    }
    /* ---------------------------------- */ 


    /* PONTOS PRINCIPAIS */
    .highlights-container {
        padding: 0vw;
        max-width: 100rem;
        margin: 4rem auto 0;
    }
    
    .highlights-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1vw;
    }
    
    .highlight-item {
        background-color: #130729c3;
        border: 0.001vw transparent #e8dbff;
        padding: 2rem;
        border-radius: 0.8rem;
        box-shadow: 0 0.1vw 0.5vw rgba(0, 0, 0, 0.1);
        text-align: center;
        height: 13rem;
        width: 18rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto 0.4rem;
    }
    
    
    
    .highlight-icon img {
        width: 3.6rem;
        height: 3.6rem;
        margin-bottom: 1vw;
        user-select: none;
    }
    
    .highlight-content h3 {
        font-size: 1.5rem;
        font-family: 'Mada', sans-serif;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: #ffffff;
    }
    
    .highlight-content p {
        font-size: 1.0rem;
        font-family: 'Mada', sans-serif;
        color: var(--textswhite);
        line-height: 1.2;
    }


    /* ---------------------------------- */ 

    /* AVALIAÇÕES */
    .testimonial-title {
        text-align: center;
        font-size: 1.8rem;
        color: #ffffff;
        font-family: 'Mada', sans-serif;
        margin-bottom: 0.7rem;
        margin-top: 5rem;
    }
    
    .testimonial-divider {
        width: 10rem;
        height: 0.3rem;
        background-image: linear-gradient(to right, #4A00E0, #8E2DE2);
        margin: 0 auto 1rem;
        box-shadow: 0 0 1rem 0.02rem #8E2DE2;
    }
    
    
    .testimonial-description {
        text-align: center;
        font-size: 0.9rem;
        font-family: 'Mada', sans-serif;
        color: var(--textswhite);
        margin-bottom: 2rem;
    }
    
    .client-reviews-container {
        width: 100%;
        height: 10rem;
        max-width: 100vw;
        margin: 0 auto;
        user-select: none;
    }
    
    
    .client-reviews-slider {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        border-radius: 1rem;
        cursor: grab;
    }
    
    .client-stars {
        width: 7rem;
        height: auto;
        margin-top: -0.5rem;
    }
    
    .client-reviews-slider:active {
        cursor: grabbing;
    }
    
    .client-reviews-slider.draggable {
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    
    .client-review {
        flex: 0 0 auto;
        width: calc(100% - 4rem);
        max-width: 20rem;
        height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 2rem;
        padding: 2rem;
        background-color: #130729c3;
        border-radius: 1rem;
        text-align: center;
    }
    
    .client-review h3 {
        margin-bottom: 1rem;
        font-size: 2.0rem;
        font-family: 'Mada', sans-serif;
        font-weight: bold;
        color: #ffffff;
    }
    
    .client-review p {
        font-size: 1rem;
        line-height: 1.5;
        font-family: 'Mada', sans-serif;
        color: #ffffff;
        
    }
    
    .client-review p:last-child {
        margin-top: 0.2vw;
        font-style: italic;
        font-family: 'Mada', sans-serif;
        color: #683cba;
    }

    
    /* ---------------------------------- */ 

    /* FOOTER */

    footer {
        background-color: #130729c3;
        color: var(--textswhite);
        font-family: 'Mada', sans-serif;
        font-size: 0.8rem;
        margin-top: 20rem;
        padding: 2.5rem;
    }
    
    footer img {
        width: 10rem;
        height: auto;
        user-select: none;
    }
    
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .social-icons {
        display: flex;
    }
    
    .social-icon {
        width: 2.3rem;
        height: auto;
        margin-left: 1.2rem;
        user-select: none;
        cursor: pointer;
    }


    /* ---------------------------------- */ 
}